<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <script th:src="@{js/app.js}"></script>
    <script sec:authorize="isAuthenticated()">
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('input[name="institution"]').checked = true;

            document.querySelector('#lastBtn').addEventListener("click", function () {
                var categories = document.querySelectorAll('[name="categories"]');
                var names = "";
                for (var i = 0; i < categories.length; i++) {
                    if (categories[i].checked) {
                        names += ", " + categories[i].nextElementSibling.nextElementSibling.innerText;
                    }
                }
                var quantity = document.querySelector('#quantity').value;
                var quotient = (quantity - quantity % 10) / 10;
                var wordTest = quantity % 10 <= 4 && quotient <= 1;

                var institution = "";
                var institutions = document.querySelectorAll('input[name="institution"]');
                for (var i = 0; i < institutions.length; i++) {
                    if (institutions[i].checked) {
                        institution = institutions[i].nextElementSibling.nextElementSibling.children[0].innerText
                    }
                }

                document.querySelector('#showInputInstitution').innerText = "Dla fundacji " + institution.substring(institution.search("\"") - 1);
                document.querySelector('#showInputQuantity').innerText = quantity;
                document.querySelector('#bags').innerText = wordTest ? "worki zawierające" : "worków zawierających";
                document.querySelector('#showInputCategories').innerText = names.substring(1);
                document.querySelector('#showInputStreet').innerText = document.querySelector('#street').value;
                document.querySelector('#showInputCity').innerText = document.querySelector('#city').value;
                document.querySelector('#showInputZipCode').innerText = document.querySelector('#zipCode').value;
                document.querySelector('#showInputPhone').innerText = document.querySelector('#phone').value;
                document.querySelector('#showInputDate').innerText = document.querySelector('#pickUpDate').value;
                document.querySelector('#showInputHour').innerText = document.querySelector('#pickUpTime').value;
                document.querySelector('#showInputNotes').innerText = document.querySelector('#pickUpComment').value;
            })
        });
    </script>
</head>
<body>
<header class="header--form-page">

    <div th:replace="fragments/headerFooter::navbar"/>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Oddaj rzeczy, których już nie chcesz<br/>
                <span class="uppercase">potrzebującym</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div sec:authorize="isAnonymous()" th:remove="tag">
    <h2></p>Uwaga!</p>
        <small></p>Zalogowanie jest obowiązkowe, aby zamówić kuriera.</p></small>
    </h2>
    <div class="help--slides active">
        <p><a th:href="@{/login}" class="btn btn--large">Zaloguj</a></p></div>
</div>
<div sec:authorize="isAuthenticated()" th:remove="tag">

    <section class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3>Ważne!</h3>
                <p data-step="1" class="active">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="2">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="3">
                    Wybierz jedną, do
                    której trafi Twoja przesyłka.
                </p>
                <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
            </div>
        </div>

        <div class="form--steps-container">
            <div class="form--steps-counter">Krok <span>1</span>/4</div>

            <form th:action="@{/form}" th:object="${donation}" method="post">
                <input type="hidden" name="username" id="username" th:value="${#authentication.getPrincipal().getUsername()}"/>
                <input type="hidden" th:field="*{id}">

                <!-- STEP 1: class .active is switching steps -->
                <div data-step="1" class="active">
                    <h3>Zaznacz co chcesz oddać:</h3>

                    <div th:each="category: ${categories}" class="form-group form-group--checkbox">
                        <label>
                            <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
                            <span class="checkbox"></span>
                            <span th:text="${category.name}" class="description">ubrania, które nadają się do ponownego użycia</span>
                        </label>
                    </div>
                    <p th:each="error: ${#fields.errors('categories')}" class="alert alert-danger"
                       th:text="${error}"></p>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>


                </div>

                <!-- STEP 2 -->
                <div data-step="2">
                    <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                    <div class="form-group form-group--inline">
                        <label>
                            Liczba 60l worków:
                            <input type="number" th:field="*{quantity}" name="quantity" step="1" min="1" max="100"/>
                        </label>
                    </div>
                    <p th:each="error: ${#fields.errors('quantity')}" class="alert alert-danger" th:text="${error}"></p>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>

                </div>


                <!-- STEP 4 -->
                <div data-step="3">
                    <h3>Wybierz organizacje, której chcesz pomóc:</h3>

                    <div th:each="charity: ${charities}" class="form-group form-group--checkbox">
                        <label>
                            <input type="radio" th:field="*{institution}" name="institution" th:value="${charity.id}"/>
                            <span class="checkbox radio"></span>
                            <span class="description">
                  <div th:text="'Fundacja &quot' + ${charity.name} + '&quot'" class="title"></div>
                  <div th:text="'Cel i misja: ' + ${charity.description}" class="subtitle"></div>
                       </span>
                        </label>
                    </div>
                    <p th:each="error: ${#fields.errors('institution')}" class="alert alert-danger"
                       th:text="${error}"></p>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>

                <!-- STEP 5 -->
                <div data-step="4">
                    <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Ulica <input type="text" th:field="*{street}" name="street"/>
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Miasto <input type="text" th:field="*{city}" name="city"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Kod pocztowy <input type="text" th:field="*{zipCode}" name="zipCode"/>
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Numer telefonu <input type="text" th:field="*{phone}" name="phone"/>
                                </label>
                            </div>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Data <input type="date" th:field="*{pickUpDate}" name="data"/>
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Godzina <input type="time" th:field="*{pickUpTime}" name="time"/>
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Uwagi dla kuriera
                                    <textarea th:field="*{pickUpComment}" name="pickUpComment" rows="5"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <p th:each="error: ${#fields.errors('city')}" class="alert alert-danger" th:text="${error}"></p>
                    <p th:each="error: ${#fields.errors('street')}" class="alert alert-danger" th:text="${error}"></p>
                    <p th:each="error: ${#fields.errors('zipCode')}" class="alert alert-danger" th:text="${error}"></p>
                    <p th:each="error: ${#fields.errors('pickUpDate')}" class="alert alert-danger"
                       th:text="${error}"></p>
                    <p th:each="error: ${#fields.errors('pickUpTime')}" class="alert alert-danger"
                       th:text="${error}"></p>
                    <p th:each="error: ${#fields.errors('quantity')}" class="alert alert-danger" th:text="${error}"></p>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step" id="lastBtn">Dalej</button>
                    </div>
                </div>

                <!-- STEP 6 -->
                <div data-step="5">
                    <h3>Podsumowanie Twojej darowizny</h3>

                    <div class="summary">
                        <div class="form-section">
                            <h4>Oddajesz:</h4>
                            <ul>
                                <li>
                                    <span class="icon icon-bag"></span>
                                    <span class="summary--text"><span id="showInputQuantity"></span>
                                    <span id="bags"></span><span id="showInputCategories"></span></span>
                                </li>

                                <li>
                                    <span class="icon icon-hand"></span>
                                    <span class="summary--text"><span id="showInputInstitution"></span></span>
                                </li>
                            </ul>
                        </div>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru:</h4>
                                <ul>
                                    <li id="showInputStreet"></li>
                                    <li id="showInputCity"
                                    </li>
                                    <li id="showInputZipCode"></li>
                                    <li id="showInputPhone"></li>
                                </ul>
                            </div>

                            <div class="form-section--column">
                                <h4>Termin odbioru:</h4>
                                <ul>
                                    <li id="showInputDate"></li>
                                    <li id="showInputHour"></li>
                                    <li id="showInputNotes"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="submit" class="btn">Potwierdzam</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<div th:replace="fragments/headerFooter:: footer"/>

</body>
</html>
